<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item button (click)="navigateToPage('registro')">
            Cadastrar usuário
          </ion-item>
          <ion-item button (click)="navigateToProtectedPage('oportunidades')">
            Oportunidades
          </ion-item>
          <ion-item button (click)="logoff()">
            <ion-label>Logoff</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
